<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Including CSS files
    *       We already mentioned the static folder path in index.js i.e public
    *       Now we write path after that only
    *
    -->
    <link rel="stylesheet" href="/css/">

    <!-- Including Bootstrap -->

    
    <title>Document</title>


</head>
<body>
    
</body>
</html>